<% content_for :head do %>
  <%= stylesheet_link_tag 'about' %>
<% end %>

<div class="post about">
  <h1><%= title "Hi, I'm Hegwin!" %></h1>
  <h1 class="subtitle">关于我</h1>

  <p>I graduated from Suzhou University of Technology and Science in 2011 with a degree in Applied Chemistry. However, I changed my major right after graduation - I started my career as a programmer in a biotech company specialising in antibodies and polypeptides.</p>

  <p>Over the past 12 years, I've done a lot of full-stack work. Now I'm a full-time software engineer working remotely. I feel like I'm my own manager and work for myself. Previously, I worked at WeWork, Quesbook, and ShineTech. For more information, you can find me on <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/hegwin-wang-b649836a', target: '_blank', rel: 'me' %>.</p>

  <p><img src="https://i.niupic.com/images/2023/01/20/agq6.jpeg" alt="Hegwin's Photo"/><p>

  <h2>This is my website and lab</h2>

  <p>I started <a href="/">Hegwin.me</a> as a personal blog in 2013. Before that, I wrote technical articles on diandian.com, but it was closed without giving me the opportunity to recover my data. Then I decided to create my own blog, also to showcase my programming skills.</p>

  <p>In my first job, I learned <i>Ruby</i> and <i>PostgresQL</i>. It's amazing that I've been using them for 11 years. They are so powerful that even I sometimes wanted to learn new programming skills, but that which only led to in a "tactical retreat" as I found my current skills were sufficient to cover my needs. People (especially HR and headhunters) always tell me that you shouldn't stick with one  language, but in my opinion, I don't just write Ruby. I solve problems. Solving problems takes a whole set of skills, not just programming.</p>

  <p><img src="https://i.niupic.com/images/2023/01/20/agqg.jpeg" alt="Hegwin with Martz"/><p>

  <h2>New adventure</h2>

  <p>My interest in neuroscience started in 2019, partly because I read an article <a href="https://waitbutwhy.com/2017/04/neuralink.html" target="_blank">Neuralink and the Brain’s Magical Future</a> which really inspired me, and partly because my father had his second stroke that year and I wanted to know what had happened to him.</p>

  <p>I plan to go back to school to study molecular biology and then neuroscience. This is a big uncertainty because I've to leave my current job as a software engineer with pretty good pay. At the same time, I'm not sure if I'm qualified to be a researcher.</p>

  <p>Hmm. I do love to learn; It's worth a try.</p>

  <p class="ps"><b>P.S.</b> This about-me was written during Chinese New Year 2023. I tried to make it simple compared to the previous edition. You can visit <%=link_to 'my old "About"', '/archived_about_2013', rel: 'noindex nofollow' %>, if you want to see how naive and blah-blah I was 10 years ago.</p>
</div>
