<% content_for :head do %>
  <%= stylesheet_link_tag 'about_page' %>
<% end %>

<div id="about">
  <h2>About Hegwin and His Dream</h2>

  <div class="entry">
    <img src="http://www.bls.gov/ooh/images/p08-to-p09/p098-4-jpg.jpg" class="img-polaroid">
    <div class="entry-text">
      <h3>The Astronomer Dream</h3>
        <p>When I was young, I never imaged that I will sit in front of a computer and write codes.</p>
        <p>Like most children in China, we share the common dream to be a scientist, and for me, precisely to be an astronomer. I always hoped to entitle a star with my own name.</p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="entry">
    <img src="http://www.bls.gov/ooh/images/p16-to-p17/p165-4-jpg.jpg" class="img-polaroid">
    <div class="entry-text">
      <h3>Translator or Chemist or Writer?</h3>
        <p>However, people will easily forget their original dreams after they grow up.</p>
        <p>During the years in my junior middle school, I loved English very much. And I told everyone I aspired to be a translator or an interpreter.</p>
        <p>Did I really like English, or is it just a result of hypnosis -- you have good performance in a subject, and your parents and teacher appreciate you and your classmates admires you so that you have more passion and then get a higher score -- which lead to a positive cycle?</p>
        <p>Things changed again since I entered the high middle school. Chemistry turned to be my favourite subject. I enjoyed doing experiments in the lab.</p>
        <p>Well, I also found myself involved in the literature.</p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="entry">
    <img src="http://images.watoday.com.au/2010/02/08/1101251/article-drought-420x0.jpg" class="img-polaroid">
    <div class="entry-text">
      <h3>Childhood Dream That Didn't Come True</h3>
        <p>NEMT is a cruel battle for each high school graduate in China. But followed that, there is something else make you headache -- to make a decision for you major subject in the coming four or five years.</p>
        <p>The huge list of majors can hardly baffle me, because I knew what I wanted to select.</p>
        <p>But there were still something scared my soul. I remember I was choked just as I saw that item -- Astronomy.</p>
        <p>Wow, for how many years have I put this dream aside? I felt in dark gray not for my score prevented me to apply astronomy, but for how could I forget my dreams.</p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="entry">
    <img src="http://haverzine.com/wp-content/uploads/2012/08/hacker.jpg" class="img-polaroid">
    <div class="entry-text">
      <h3>From Chemist To Programmer</h3>
        <p>Now, I have been a rubyist for nearly 3 years. I like writing codes. Maybe I will continue coding until someday we no more need this job.</p>
        <p>I majored applied chemistry in university. I like chemistry, yes, at least in middle school. But the regime and teaching style of university made me lose interests of chemistry.</p>
        <p>During my second year of university, I learnt VB Programming, which opened a door to the world of codes for me.</p>
        <p>I try to organize the steps how human solve the problems and to tell the computers by writing codes. I can't be more excited when I saw the right result jumping out of the screen.</p>
    </div>
    <div class="clear"></div>
  </div>

   <div class="entry">
    <img src="http://fyne.co.uk/wp-content/uploads/2013/03/Rainbow_flag_breeze.jpg" class="img-polaroid">
    <div class="entry-text">
      <h3>Imcomplete Rainbow But Miscellaneous</h3>
        <p>For some reasons I will not live a common life as a normal person, like the rainbow lacking one band of color. Anyway, it's still colorful, isn't it?</p>
        <p>I am managing to live a colorful life.</p>
        <p>I keep learning. I do love translation -- no longer for high scores in school -- since it's really interesting to break the walls between the people from different backgrounds.</p>
        <p>I attempt to achieve every idea and dream. I begin to learn to play the piano. And I begin to erect this website for me.</p>
        <p>Wish a <strong>regretless</strong> life!</p>
    </div>
    <div class="clear"></div>
  </div>

</div>
