<div class="post-meta row">
  <div class="post-tags col-9">
    <% display_post_tags(post.tags) do |tag, css_class| %>
      <%= link_to posts_path(tag: tag.name), class: css_class, rel: 'noindex follow' do %>
        <span class="badge bg-dark"><%= tag.name %></span>
      <% end %>
    <% end %>
  </div>
  <div class="post-create-time col-3">
    <%= post.posted_on.strftime("%F") %>
  </div>
</div>
