<% @posts.each do |post|%>
  <div class="post">
    <h1><%= post.title_cn %></h1>
    <div class="post-body">
      <%= GitHub::Markdown.render_gfm(post.body).html_safe %>
    </div>
    
    <div class="post-footer">
      <span class="post-time">
        <%= post.posted_on.strftime("%F") %>
      </span>
      <div class="clear"></div>
    </div>
  </div>
<% end %>
