<% @posts.each do |post|%>
  <div class="post-entry">
    <h2><%= link_to post.title_cn, post %></h2>
    <div class="post-body">
      <%= degrade_head(GitHub::Markdown.render_gfm(post.body), 2).html_safe %>
    </div>
    
    <div class="post-footer">
      <span class="post-time">
        <%= post.posted_on.strftime("%F") %>
      </span>
      <div class="clear"></div>
    </div>
  </div>
<% end %>
