<h1>Hegwin.Me</h1>

<% @posts.each do |post|%>
  <div class="post container">
    <h2><%= post.title_cn %></h2>
    <div class="body">
      <pre>
        <%= post.body %>
      </pre>
    <div>
  </div>
<% end %>

<%= link_to 'New Post', new_post_path %>
