.about {
  h1.subtitle {
    margin-bottom: 1.5rem;
  }
  h2 {
    font-size: 30px;
    margin-top: 2rem;
  }
  p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    &.ps {
      margin-top: 2rem;
    }
  }
}
