#about {
  padding: 0 2em;
  h2 {
    margin: 0.5em 0.5em 1.5em;
  }
  div.entry {
    margin: 36px auto;
    border: 1px solid #CCC;
    border-radius: 0.5em;
    img {
      width: 120px;
      position: relative;
      top: -30px;
      left: 20px;
      display:inline-block;
      background-color: white;
      border: 1px solid #CCC;
      border-radius: 6px;
      padding: 4px;
    }
    div.entry-text {
      h3 {
        font-size: 16px;
      }
      font-size: 14px;
      padding: 0 20px;
    }
  }
}

@media (max-width: 767.98px) {
  #about {
    padding: 0;
  }
}
