$color-coral: #FC5645;

body {
  font-family: Roboto, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
  background-image: linear-gradient(rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0) 60px);
  background-repeat: no-repeat;
}

div.screen {
  max-width: 1120px;
}

a {
  color: var(--bs-gray-dark);
  text-decoration: none;
  display: inline-block;

  &:hover {
    color: var(--bs-gray-dark);
  }
}

h1, h2, h3 {
  a {
    transition: 0.5s color, 0.2s text-shadow;

    &:hover, &.hover {
      color: $color-coral;
    }
  }
}

main {
  p, li {
    a {
      color: $color-coral;
      display: inline;
      transition: 0.2s border ease;
      border-bottom: 2px mistyrose solid;

      &:hover {
        color: $color-coral;
        border-bottom-color: $color-coral;
      }
    }
  }
}

.header {
  text-align: center;
  h1 {
    margin-top: 60px;
    font-size: 70px;
    a:hover {
      color: var(--bs-gray-dark);
      text-shadow: 0 0 4px #CCC;
    }
  }
  p.random {
    display: inline-block;
    margin: 20px auto 40px;
    color: var(--bs-gray);
  }
}

aside {
  .sidebar {
    margin-top: 2rem;
    text-align: center;
    position: sticky;
    top: 2rem;

    .avatar {
      width: 180px;
      height: 180px;
      border-radius: 51%;
      margin-bottom: 2.5rem;
    }

    .signature {
      font-family: cursive;
      font-size: 120%;
      color: var(--bs-gray);
      margin-bottom: 2rem;

    }

    .sns {
      img {
        width: 24px;
        height: 24px;
        margin: 0 2px;
      }
    }
  }
}

.navigation {
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  margin-bottom: 20px;
  font-size: 16px;
  .menu-container {
    height: 20px;
    ul.menu {
      list-style: none;
      float: right;
      li {
        float: left;
        position: relative;
        a {
          color: #666666;
          margin: 0 10px;
          text-decoration: none;
          height: 32px;
        }
      }
      ul.submenu {
        position: absolute;
        top: 32px;
        right: -16px;
        z-index: 50;
        list-style: none;
        text-align: right;
        display: none;
        li {
          a {
            display: block;
            width: 120px;
            background-color: #E9E9E9;
            border-bottom: 1px solid #E1E1E1;
            padding: 0.5em;
            &:hover {
              background-color: #F0F0F0;
            }
          }
        }
      }
    }
    ul.menu:after {
      clear: both;
    }
  }
}

.footer {
  margin: 2em auto 30px;
  padding-top: 30px;
  border-top: 1px solid #CCCCCC;
  text-align: center;
  a {
    color: #222222;
  }
}

@media (max-width: 767.98px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0) 40px);
  }

  .header {
    h1 {
      margin-top: 40px;
      font-size: 60px;
    }
    p.random {
      display: inline-block;
      font-size: 14px;
      margin: 16px auto 32px;
      max-width: 360px;
    }
  }
}
