// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$meta-opacity: 0.6;

@mixin link {
  opacity: $meta-opacity;
  display: inline-block;
  transition: 0.2s opacity;

  &:hover {
    opacity: 1;
  }
}

@mixin gray-block-link {
  @include link;
  background-color: var(--bs-gray-dark);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}

.post-entry {
  padding-left: 1.5em;
  padding-right: 2em;
  margin-bottom: 4rem;

  &-first {
    margin-top: 2rem;
  }
  h2 {
    font-size: 30px;
    &.subtitle {
      font-size: 22px;
    }
  }

  a.post-intro {
    color: var(--bs-body-color);
    text-decoration: none;
    line-height: 28px;
  }
}

.post {
  padding-left: 1.5rem;
  padding-right: 2rem;
  margin-top: 2rem;

  h1 {
    font-size: 30px;
    &.subtitle {
      font-size: 22px;
    }
  }
  h2 {
    font-size: 24px;
    margin: 28px auto;
  }
  h3 {
    font-size: 20px;
    margin: 24px auto;
  }
  h4 {
    font-size: 16px;
    margin: 20px auto;
  }

  ol, ul {
    li {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }

  .back-link {
    margin-top: 24px;
    @include gray-block-link;
  }
}

.post-meta {
  margin: 12px 0 24px 1px;

  .post-tags {
    padding: 0;

    a.tag-link {
      @include link;
      margin-right: 4px;

      span.badge {
        padding: 4px 12px;
        &:before {
          content: '🏷️';
          padding-right: 4px;
        }
      }

      &-primary {
        span.badge {
          padding-left: 10px;
          &:before {
            content: '💡';
            padding-right: 2px;
          }
        }
      }
    }
  }
  .post-create-time {
    padding: 0;
    color: rgba(var(--bs-dark-rgb), $meta-opacity);
    text-align: right;
    &:before {
      content: '🗓️';
      padding-right: 2px;
    }
  }
}

.pagination {
  margin-top: 3em;
  padding: 0 2em 0 1.5em;
  a {
    @include gray-block-link;
  }
}

code, pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
}

pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
  display: block;
  padding: 0.5em;
  color: #333;
}

pre {
  padding: 9.5px;
  margin: 20px 0 20px;
  line-height: 24px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.clear {
  clear: both;
}

@media (max-width: 767.98px) {
  .post-entry {
    padding: 12px 6px;
  }

  .post {
    padding: 0;
  }
}
