// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0) 80px);
  background-repeat: no-repeat;
}

.header {
  padding-top: 80px;
  height: 140px;
  text-align: center;
  h1 {
    font-size: 80px;  
    a {
      color: #222222;      
    }
    a:hover {
      color: #0088CC;
      text-decoration: none;
    }
  }
  p.random {
    margin-top: 40px;
    color: #AAAAAA;
  }
}

.navigation {
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  margin-bottom: 20px;
  font-size: 16px; 
  .menu-container {
    height: 20px;
    ul.menu {
      list-style: none;
      float: right;
      li {
        float: left;
        position: relative;
        a {
          color: #666666;
          margin: 0 10px;
          text-decoration: none;
        }
      }
      ul.submenu {
        position: absolute;
        top: 20px;
        right: -16px;
        z-index: 50;
        list-style: none;
        text-align: right;
        display: none;
        li {
          a {
            display: block;
            width: 120px;
            background-color: #E9E9E9;
            border-bottom: 1px solid #E1E1E1;           
            padding: 0.5em;
            &:hover {
              background-color: #F0F0F0;
            }
          }
        }
      }
    }
    ul.menu:after {
      clear: both;
    }
  }
}

.footer {
  margin: 50px auto 30px;
  padding-top: 30px;
  border-top: 1px solid #CCCCCC;
  text-align: center;
  a {
    color: #222222;
  }  
}

.post {
  margin: 2em auto 2em;
  border: 1px #CCC solid;
  border-radius: 0.5em;
  box-shadow: 3px 3px 3px #CCCCCC;
  h1 {
    margin: 26px 40px;
  }
  .post-body {
    margin: 26px 40px;
    overflow: hidden;
  }
  .post-footer {
    padding: 10px 40px;
    height: 18px;
    background-image: linear-gradient(rgba(127, 127, 127, 0), rgba(0, 0, 0, 0.4) 60px);
    background-repeat: no-repeat;
    color: #808080;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    .post-time {
      float: right;
    }
  }
}

.clear {
  clear: both;
}
