.navigation {
  .menu-container {
    ul.menu {
      ul.submenu {
        li {
          a {
            width: 140px;
          }
        }
      }
    }
  }
}

.post-entry {
  a.post-intro {
    font-size: 1.1rem;
  }
}

.post {
  .post-body > p {
    font-size: 1.1rem;
  }
}
