<footer class="footer">
  <p>© 2013 - 2023 Hegwin | Version: <%= link_to '1.2.0', 'https://github.com/hegwin/blog/releases/tag/v1.2.0', target: 'blank', rel: 'noopener noreferrer nofollow' %><p>

  <p><%= link_to '鄂ICP备13013177号', 'http://www.beian.miit.gov.cn', target: '_blank', rel: 'noopener noreferrer nofollow' %></p>
</footer>
