<div class="footer">
  <p>
    Weibo: <%= link_to "@hegwin", "http://weibo.com/hegwin/", target: "blank" %> | 
    Email: <%= mail_to "hegwin@hegwin.me" %> | 
    Version: <%= link_to "1.1.0", "https://github.com/hegwin/blog/releases/tags/v1.1.0", target: "blank" %>
  </p>
  <p><%= link_to '鄂ICP备13013177号', 'http://www.beian.miit.gov.cn', target: "blank" %></p>
</div>
