<nav class="navigation">
  <div class="menu-container">
    <ul class="menu">
      <li><a href="/">首页</a></li>
      <li>
        <a href="#">工具</a>
        <ul class="submenu">
          <li><a href="https://wow.hegwin.me/pets" target="_blank">魔兽小宠物</a></li>
          <li><a href="https://www.etymon.online/" target="_blank">喵呜词根</a></li>
        </ul>
      </li>
      <li><%= link_to "关于", about_path %></li>
    </ul>
  </div>
</nav>
